
<div [style.width.px]="600">
  <h2><span>TASK</span> to do </h2>
  <div>
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">task name</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">image</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Statut</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
               true
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                false
              </label>
            </div>

          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary"> Add task </button>
        </div>
      </div>
    </form>
  </div>
  <button onclick="">Add a new Task</button>



  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos ; let i = index" >

      <div [ngClass]="{still:todo.todostatut,done:!todo.todostatut}">
      {{ todo.todoname }}

      <a [href]="todo.image" > <img [src]="todo.image" [style.width.px]="110" (mouseleave)="onMouselv(i)">{{onMouselv(i)}}</a>

      <button class="btn btn-warning btn-sm"
      (click)="OnChangeStatus(i)"
      [disabled]="todo.todostatut" > still </button>

      <button class="btn btn-success btn-sm"
      (click)="OnChangeStatus(i)"

      [disabled]="!todo.todostatut" > done  </button>

    </div>
    </li>

  </ul>
</div>
